:root,
[data-theme="default"] {
  --white: #fff;
  --black: #000;
  /* ------------------------------------------------------ */
  --primary-50: #e8edfb;
  --primary-100: #bbcaf3;
  --primary-200: #8ea7ec;
  --primary-300: #6183e4;
  --primary-400: #3460dc;
  --primary-500: #1d4ed8;
  --primary-600: #173ead;
  --primary-700: #112f82;
  --primary-800: #0c1f56;
  --primary-900: #06102b;
  /* ------------------------------------------------------ */
  --neutral-50: #f8fafc;
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --neutral-300: #cbd5e1;
  --neutral-400: #94a3b8;
  --neutral-500: #64748b;
  --neutral-600: #475569;
  --neutral-700: #334155;
  --neutral-800: #1e293b;
  --neutral-900: #0f172a;
  /* ------------------------------------------------------ */
  --darkmode-50: #5f626b;
  --darkmode-100: #555962;
  --darkmode-200: #4c4f59;
  --darkmode-300: #424651;
  --darkmode-400: #424651;
  --darkmode-500: #393d48;
  --darkmode-600: #2f343f;
  --darkmode-700: #262a36;
  --darkmode-800: #1c212e;
  --darkmode-900: #131825;
  /* ------------------------------------------------------ */
  --success-300: #6ee7b7;
  --success-500: #10b981;
  /* ------------------------------------------------------ */
  --error-300: #fca5a5;
  --error-500: #ef4444;
}
