// to edit the breakpoints, check the style.scss file
@use "../abstracts" as *;

$breakpoints: (
  sm: 40em,
  // 640px
  md: 38em,
  // 768px
  lg: 64em,
  // 1024px
  xl: 80em,
  // 1280px
  2xl: 96em,
  // 1536px
) !default;

@mixin breakpoint($breakpoint) {
  @media (min-width: map-get($map: $breakpoints, $key: $breakpoint)) {
    @content;
  }
}

@mixin breakpoint-down($breakpoint) {
  @media (max-width: map-get($map: $breakpoints, $key: $breakpoint)) {
    @content;
  }
}

@mixin breakpoint-limit($breakpoint1, $breakpoint2) {
  @media (min-width: map-get($map: $breakpoints, $key: $breakpoint1)) and (max-width: map-get($map: $breakpoints, $key: $breakpoint2)) {
    @content;
  }
}

@mixin container {
  margin-inline: auto;
  max-width: 1440px;
  width: 100%;
  padding-inline: 15px;

  @include breakpoint(md) {
    padding-inline: rem(32px);
  }
}
